//- #videostash(style={display:'block'})
#videostash(style={display:'none'})
  div(style={top:'30px', right:'50px'})
    video#localVideo(autoplay='true', width='320px', height='240px', muted='true')
  div(style={top:'140px',right:'50px'})
    video#remoteVideo(autoplay='true', width='320px', height='240px')

md-toolbar.md-hue-2.altexo-toolbar
  .md-toolbar-tools
    md-button.md-icon-button(aria-label='Settings', ng-click='leftSidenav.toggle()')
      md-icon(md-svg-icon="${require('../../../img/icons/ic_menu_black_24px.svg')}")
    h2(flex='', md-truncate='') Chat
    md-input-container.md-block(flex='50', flex-gt-sm='20')
      //- label.md-headline Nickname:
      input(type='text',
             ng-model='$storage.nickname',
             md-autofocus,
             ng-change='setChatAlias($storage.nickname)')

md-content.stream(layout='row', flex)
  //- .logo_dark
  //-   img(ng-src="${require('../../../img/logo_dark.svg')}", height=50, ng-click="onLogoClick()")

  altexo-web-rtc-view(ng-if='!(chat.room == null || chat.isRestarting())',
    chat='chat', altexo-room-renderer='chat.room')

  .control-panel-wrapper(layout='row', ng-if='chat.room != null')
    md-card(layout='column', md-whiteframe='4', style={width:'25vw'})
      md-card-header
        md-card-header-text
          span.md-title Invite by sharing the link
      md-card-content(layout='column')
        md-input-container(flex, style={margin:0})
          input(type='text', value='{{ ::viewLink() }}', ng-readonly='')

    .control-panel(layout='row', flex)
      div(flex)
      div
        md-button.md-fab.md-primary(ng-click="chat.toggleVideo(controls.video = !controls.video)", aria-label="Turn off video")
          md-icon(ng-if="controls.video", md-svg-src="${require('../../../img/icons/ic_videocam_black_24px.svg')}")
          md-icon(ng-if="!controls.video", md-svg-src="${require('../../../img/icons/ic_videocam_off_black_24px.svg')}")
        md-button.md-fab.md-primary(ng-click="chat.toggleAudio(controls.audio = !controls.audio)", aria-label="Turn off audio")
          md-icon(ng-if="controls.audio", md-svg-src="${require('../../../img/icons/ic_mic_black_24px.svg')}")
          md-icon(ng-if="!controls.audio", md-svg-src="${require('../../../img/icons/ic_mic_off_black_24px.svg')}")
      div(flex)
      div
        md-button.md-fab.md-mini.md-primary(ng-click="toggleShareScreen()", aria-label="Share screen")
          md-icon(md-svg-src="${require('../../../img/icons/ic_picture_in_picture_white_24px.svg')}")

        md-button.md-fab.md-mini.md-primary(ng-click="toggleChat()", aria-label="Open/close chat")
          md-icon(md-svg-src="${require('../../../img/icons/ic_chat_bubble_black_24px.svg')}")

    if DEBUG == 'true'
      div
        p Candidates sent: {{ iceSent }}
        p Candidates received: {{ iceReceived }}

md-sidenav.md-sidenav-right.md-whiteframe-4dp(md-component-id='right',
    md-disable-backdrop, layout='column')
  md-toolbar.md-theme-light(layout='row', layout-align='end center')
    md-button.md-icon-button.launch(ng-click='toggleChat()')
      md-icon(md-svg-icon="${require('../../../img/icons/ic_clear_black_24px.svg')}")
  md-content(layout-padding, layout='column', flex='grow')
    div(flex)
      div(ng-repeat='msg in chat.messages track by msg.id')
        strong {{ ::msg.contact.name }}: &nbsp;
        span(ng-bind-html='::msg.text|linky')
    form
      div(layout='row')
        md-input-container.md-block(md-no-float)
          input#testInput(type='text', md-autofocus, ng-model='textMessage',
              ng-keypress='$event.keyCode == 13 ? sendMessage(textMessage) : null',
              placeholder='Type your message')
        md-button.md-primary(ng-click='sendMessage(textMessage)')
          | Send
